Join {{{org_name}}}
<!---------------->
You have been invited to join the *{{org_name}}* organization.

Before clicking on the "Join Organization" link, take a look at the sharepoint site for instructions - <a href="https://empowerists.sharepoint.com/sites/EmpoweristsIT-CybersecurityChannel/SitePages/Introduction-to-Bitwarden(1).aspx">Introduction to Bitwarden</a>

Click here to join: {{{url}}}


If you do not wish to join this organization, you can safely ignore this email.
{{> email/email_footer_text }}
